<div class="c-content-wrap">
  <div class="c-search-wrap">
    <div class="c-search-group">
      <div class="c-search-item">
        <div class="c-search-itemLeft">
          {{ "administrator.attendanceRecord.checkInTime" | translate}}:
        </div>
        <div class="c-search-itemRight">
          <nz-date-picker [(ngModel)]="searchModel.signInBeginDate"></nz-date-picker>
          <span style="color:#999"> ~ </span>
          <nz-date-picker [(ngModel)]="searchModel.signInEndDate"></nz-date-picker>
        </div>
      </div>
      <div class="c-search-item">
        <div class="c-search-itemLeft">
          {{ "administrator.attendanceRecord.reviewStage" | translate}}:
        </div>
        <div class="c-search-itemRight">
          <nz-select
            [nzPlaceHolder]="'administrator.attendanceRecord.prompt.reviewStage' | translate"
            [(ngModel)]="searchModel.stageId"
            style="width: 150px"
          >
            <div *ngFor="let item of statusData">
              <nz-option [nzValue]="item['id']" [nzLabel]="item['flowName']">
              </nz-option>
            </div>
          </nz-select>
        </div>
      </div>
      <div class="c-search-item">
        <div class="c-search-itemLeft">
          {{ "administrator.attendanceRecord.company" | translate}}:
        </div>
        <div class="c-search-itemRight">
          <nz-select style="width: 150px" [(ngModel)]="searchModel.firmId" [nzPlaceHolder]='"administrator.attendanceRecord.prompt.company" | translate ' nzAllowClear>
            <nz-option *ngFor="let option of allOverdueFirm" [nzLabel]="option['firmName']" [nzValue]="option['id']"></nz-option>
          </nz-select>
        </div>
      </div>
    </div>
    <div class="c-search-group">
      <div class="c-search-item">
        <div class="c-search-itemLeft">
          {{ "administrator.attendanceRecord.group" | translate}}:
        </div>
        <div class="c-search-itemRight">
          <nz-tree-select
            [nzDropdownStyle]="{'maxHeight':'500px'}"
            style="width: 200px"
            [nzDefaultExpandAll]="true"
            [nzNodes]="NzTreeNodes"
            [nzPlaceHolder]='"administrator.attendanceRecord.prompt.group" | translate '
            [(ngModel)]="searchModel.groupId"
          >
          </nz-tree-select>
        </div>
      </div>
      <div class="c-search-item">
        <div class="c-search-itemLeft">
          {{ "administrator.attendanceRecord.account" | translate}}:
        </div>
        <div class="c-search-itemRight">
          <input nz-input
                 type="text"
                 [(ngModel)] = 'searchModel.riskEmployeeAccount'
                 [placeholder] = '"administrator.attendanceRecord.prompt.account" | translate'
          >
        </div>
      </div>
      <div class="c-search-item">
        <div class="c-search-itemLeft">
          {{ "administrator.attendanceRecord.name" | translate}}:
        </div>
        <div class="c-search-itemRight">
          <input nz-input
                 type="text"
                 [(ngModel)] = 'searchModel.riskEmployeeName'
                 [placeholder] = '"administrator.attendanceRecord.prompt.name" | translate'
          >
        </div>
      </div>
    </div>
    <div class="c-search-btnGroup">
      <div class="c-search-item">
        <button nz-button nzType="primary"  (click) = 'search() '>
          {{ "common.search" | translate}}
        </button>
        <button style="margin-left: 20px;" nz-button (click) = 'reset()'>
          {{ "common.reset" | translate}}
        </button>
        <button style="margin-left: 20px;" nz-button [disabled]="totalSize===0" (click) = 'export()'>
          {{ "common.ex" | translate}}
        </button>
      </div>
    </div>
  </div>
  <c-table [tableData] = 'tableData'>
  </c-table>
  <div class="c-pag">
    <nz-pagination [nzShowTotal]="totalTemplate" (nzPageIndexChange)='pageChange($event , "page")' (nzPageSizeChange) = 'pageChange($event , "size")' [nzPageIndex]="searchModel.currentPage"  [nzTotal]="totalSize" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
    <ng-template #totalTemplate let-total>
            <span>
                {{ "common.total" | translate }}
            </span>
      <span>
                {{ totalSize }}
            </span>
      <span>
                {{ "common.pageUnit" | translate }}
            </span>
    </ng-template>
  </div>
</div>
