<div class="c-content-wrap">

    <div class="title">
      {{ "productCenter.appConfig.versionUpdate.title" | translate }}
      <button nz-button nzType="primary" (click) = 'add()' class="addbtn">
        {{ "productCenter.appConfig.versionUpdate.add" | translate }}
      </button>
    </div>

    <div class="c-search-wrap">
      <div class="c-search-group">
        <div class="c-search-item">
          <div class="c-search-itemLeft">
            {{ "productCenter.appConfig.versionUpdate.type" | translate}}:
          </div>
          <div class="c-search-itemRight">
            <nz-select style="width: 170px" [(ngModel)]="searchModel.forceUpdate"  [nzPlaceHolder]="'productCenter.appConfig.versionUpdate.pleaseType' | translate" nzAllowClear>
              <nz-option *ngFor="let item of updateChooseList" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
            </nz-select>
            <!-- <input nz-input type="text" [(ngModel)]="searchModel.forceUpdate" [placeholder]="'productCenter.appConfig.versionUpdate.pleaseType' | translate" /> -->
          </div>
        </div>
      </div>
      <div class="c-btn-group" style="margin-bottom: 20px">
        <button nz-button  nzType="primary" (click) = 'search() '>
          {{ "productCenter.appConfig.versionUpdate.search" | translate}}
        </button>
        <button nz-button class="left" (click) = 'reset() '>
          {{ "productCenter.appConfig.versionUpdate.reset" | translate}}
        </button>
      </div>
    </div>
  

  <c-table [tableData] = 'tableData'>
  </c-table>

  <div class="c-pag">
    <nz-pagination
      [nzShowTotal]="totalTemplate"
      (nzPageIndexChange)='pageChange($event , "page")'
      (nzPageSizeChange) = 'pageChange($event , "size")'
      [nzPageIndex]="searchModel.currentPage"
      [nzTotal]="totalSize"
      nzShowSizeChanger
      nzShowQuickJumper
    ></nz-pagination>
    <ng-template #totalTemplate let-total>
      <span>{{ "productCenter.appConfig.versionUpdate.total" | translate }}</span>
      <span>{{ totalSize }}</span>
      <span>{{ "productCenter.appConfig.versionUpdate.pageUnit" | translate }}</span>
    </ng-template>
  </div>


  <nz-modal [(nzVisible)]="isDelete" [nzTitle]="'productCenter.appConfig.versionUpdate.decideDelete' | translate" (nzOnCancel)="deleteCancel()" (nzOnOk)="deleteOk()" [nzOkLoading]="isDeleteLoading">
    <p>{{"productCenter.appConfig.versionUpdate.decideDeleteTip"  | translate }}！</p>
  </nz-modal>


  <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]='title'
    [nzOkText]='"productCenter.appConfig.versionUpdate.decide" | translate'
    [nzCancelText]='"productCenter.appConfig.versionUpdate.cancel" | translate'
    (nzOnOk)="handleOk()"
    (nzOnCancel)="handleCancel()"
    [nzOkLoading]="isOkLoading"
    [nzWidth]="800"
  >
    <div class="formChannel">
      <form nz-form [nzLayout]="'block'" [formGroup]="validForm">

      <nz-form-item  class='formSec'>
          <nz-form-label [nzSm]="4" nzRequired>
            {{ "productCenter.appConfig.versionUpdate.type" | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="19" [nzOffset]='1'>
            <nz-select style="width: 170px" formControlName="forceUpdate"  [nzPlaceHolder]="'productCenter.appConfig.versionUpdate.pleaseType' | translate" nzAllowClear>
              <nz-option *ngFor="let item of updateChooseList" [nzLabel]="item.name" [nzValue]="item.value"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>      

        <nz-form-item  class='formSec'>
          <nz-form-label [nzSm]="4" nzRequired>
            {{ "productCenter.appConfig.versionUpdate.newVersion" | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="19" [nzOffset]='1'>
            <input
              type="text"
              nz-input
              formControlName="newVersion"
              id="newVersion"
              [placeholder] = '"productCenter.appConfig.versionUpdate.pleaseNewVersion" | translate'
              (blur)="versionReal()"
            >
            <nz-form-explain *ngIf="validForm.get('newVersion').dirty && validForm.get('newVersion').errors">
              <span>
                {{ "productCenter.appConfig.versionUpdate.newVersion" | translate}}
              </span>
              <span>
                {{ "productCenter.appConfig.versionUpdate.errTip" | translate }}
              </span>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item  class='formSec'>
          <nz-form-label [nzSm]="4" nzRequired>
            {{ "productCenter.appConfig.versionUpdate.updateLog" | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="19" [nzOffset]='1'>
            <textarea
              nz-input
              formControlName="updateLog"
              id="updateLog"
              [placeholder] = '"productCenter.appConfig.versionUpdate.please" | translate'
              style="resize:none;height: 300px;"
              maxlength="500"
            >
            </textarea>
            <nz-form-explain *ngIf="validForm.get('updateLog').dirty && validForm.get('updateLog').errors">
              <span>
                {{ "productCenter.appConfig.versionUpdate.updateLog" | translate}}
              </span>
              <span>
                {{ "productCenter.appConfig.versionUpdate.errTip" | translate }}
              </span>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item  class='formSec'>
          <nz-form-label [nzSm]="4" nzRequired>
            {{ "productCenter.appConfig.versionUpdate.serverUrl" | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="19" [nzOffset]='1'>
            <input
              type="text"
              nz-input
              formControlName="serverUrl"
              id="serverUrl"
              [placeholder] = '"productCenter.appConfig.versionUpdate.please" | translate'
            >
            <nz-form-explain *ngIf="validForm.get('serverUrl').dirty && validForm.get('serverUrl').errors">
              <span>
                {{ "productCenter.appConfig.versionUpdate.serverUrl" | translate}}
              </span>
              <span>
                {{ "productCenter.appConfig.versionUpdate.errTip" | translate }}
              </span>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item  class='formSec'>
          <nz-form-label [nzSm]="4" nzRequired>
            {{ "productCenter.appConfig.versionUpdate.googleUrl" | translate }}
          </nz-form-label>
          <nz-form-control [nzSm]="19" [nzOffset]='1'>
            <input
              type="text"
              nz-input
              formControlName="googleUrl"
              id="googleUrl"
              [placeholder] = '"productCenter.appConfig.versionUpdate.please" | translate'
            >
            <nz-form-explain *ngIf="validForm.get('googleUrl').dirty && validForm.get('googleUrl').errors">
              <span>
                {{ "productCenter.appConfig.versionUpdate.googleUrl" | translate}}
              </span>
              <span>
                {{ "productCenter.appConfig.versionUpdate.errTip" | translate }}
              </span>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>

      </form>
    </div>
  </nz-modal>

</div>
