<div class="c-content-wrap">
  <div class="c-search-wrap">
    <div class="c-search-group">
      <div class="c-search-item">
        <div class="c-search-itemLeft">
          {{ "channelData.startDate" | translate}}:
        </div>
        <div class="c-search-itemRight">
          <nz-range-picker [(ngModel)]="searchModel.rangeDate"></nz-range-picker>
          <!-- <nz-date-picker [(ngModel)]="searchModel.start" [nzPlaceHolder] = '"reportModule.financialdata.prompt" | translate' ></nz-date-picker> -->
        </div>
      </div>
    </div>
    <div class="c-search-group">
      <div class="c-search-item">
        <div class="c-search-itemLeft">
          {{ "channelData.table.channelNumber" | translate}}:
        </div>
        <div class="c-search-itemRight">
          <input nz-input [(ngModel)]="searchModel.serialNumber" [placeholder] = '"channelData.prompt.channelNo" | translate'>
        </div>
      </div>
      <div class="c-search-item">
        <div class="c-search-itemLeft">
          {{ "channelData.table.channelBranchNmber" | translate}}:
        </div>
        <div class="c-search-itemRight">
          <input nz-input [(ngModel)] ='searchModel.invitationCode' [placeholder] = '"channelData.prompt.channelBranchNmber" | translate'>
        </div>
      </div>
      <div class="c-search-item">
        <div class="c-search-itemLeft">
          {{ "channelData.table.channelBranchName" | translate}}:
        </div>
        <div class="c-search-itemRight">
          <input nz-input [(ngModel)]="searchModel.channelBranchName" [placeholder] = '"channelData.prompt.channelBranchName" | translate'>
        </div>
      </div>
    </div>
    <div class="c-search-btnGroup">
      <button nz-button nzType="primary" (click)='search() '>
        {{ "common.search" | translate}}
      </button>
      <button style="margin-left: 20px;" nz-button (click)='reset() '>
        {{ "common.reset" | translate}}
      </button>
      <button style="margin-left: 20px;" nz-button [disabled]="totalSize===0" (click)='downloadChannelList() '>
        {{ "common.ex" | translate}}
      </button>
    </div>
  </div>

  <c-table [tableData] = 'tableData' style="margin-top: 20px">
  </c-table>

  <div class="c-pag">
    <nz-pagination [nzShowTotal]="totalTemplate" (nzPageIndexChange)='pageChange($event , "page")' (nzPageSizeChange) = 'pageChange($event , "size")' [nzPageIndex]="searchModel.currentPage"  [nzTotal]="totalSize" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
    <ng-template #totalTemplate let-total>
              <span>
                  {{ "common.total" | translate }}
              </span>
      <span>
                  {{ totalSize }}
              </span>
      <span>
                  {{ "common.pageUnit" | translate }}
              </span>
    </ng-template>
  </div>
</div>
